@import url("style/header.css");
@import url("styles/banner.css");
@mport url("styles/carrossel.css");
:root{
    --font-principal:"Poppins"
}


body{
    background-color: bisque;
    font-family: : var (--font-principal);
    font-size: 16px
    fot-weight: 400
}